{% comment %}
    Based on Midnight theme
{% endcomment %}
<div id="header">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <nav>
        <ul>
            {% assign index = site.pages | where: "path", "index.md" | first %}

            <!-- The fork button class from midnight is aligned to the left so
            use it here as a hack. -->
            <li class="site-title fork">
                <a href="{{ index.url | relative_url }}">
                    {{ index.title }}
                </a>
            </li>

            <li class="title">
                <a href="{{ site.github.owner_url }}">GitHub</a>
            </li>

            {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}

            {% if my_page != index and my_page.title %}
            <li class="title">
                <a href="{{ my_page.url | relative_url }}">
                    {{ my_page.title | escape }}
                </a>
            </li>
            {% endif %}
            {%- endfor -%}
        </ul>
    </nav>
</div>
